@import "./config.scss";

body {
  background: $white;

  #home {
    .slider-wrapper-saas {
      width: 100%;
      height: 300px;
      background-color: $primary-blue;
      background-position: center;

      .contain-custom {
        padding: 0 50px;
        margin: auto;

        .row {
          align-items: center;
          margin: auto;
          width: 80vw;

          .col-md-4 {
            .slider-text-new {
              h1 {
                color: $white;
                font-family: $primary-font-family;
                font-weight: 500;
                font-size: 3.5rem;

                span {
                  color: $primary-orange;
                }

                @media (max-width: 1150px) {
                  font-size: 2rem;
                }
                @media (max-width: 850px) {
                  font-size: 1.5rem;
                  padding: 0;
                }
              }
              p {
                color: $white;
                font-weight: 600;
                font-size: 1.3rem;
              }
              .saas-button a {
                color: $white;
                background-color: $primary-orange;
                border: 2px solid $primary-orange;
                font-size: 1.05rem;
                padding: 0.7rem 1.5rem;
                transition: all 0.25s;
                margin: 10px 0;

                &:hover {
                  background-color: transparent;
                  border: 2px solid $white;
                  color: $white;
                }
              }
            }

            @media (max-width: 900px) {
              max-width: 100%;
              width: 100%;
              flex: 1;
              text-align: center;
            }
          }

          .col-md-8 {
            .animated.fadeInUp img {
              margin: 0;
              margin-top: 30px;
              max-width: 650px;
              width: 200%;

              @media (max-width: 1150px) {
                max-width: 500px;
              }
            }
            @media (max-width: 900px) {
              display: none !important;
            }
          }

          @media (max-width: 400px) {
            width: 100%;
          }
        }

        @media (max-width: 777px) {
          padding: 0 30px;
        }
      }

      @media (max-width: 1150px) {
        height: 250px;
      }
      @media (max-width: 900px) {
        padding: 30px;
        height: auto;
      }
    }
  }

  #contact-form {
    .contact-form-area {
      padding: 50px 0;
      form {
        .cv {
          margin: 20px 0;
          label,
          input,
          button,
          select,
          textarea {
            font-family: $primary-font-family;
            font-weight: 400;
          }

          input {
            margin-left: 10px;

            &:focus {
              border-bottom: 2px solid $primary-blue;
            }
          }

          textarea {
            border: none;
            border-bottom: 2px solid #ddd;
            border-radius: 0;

            &:focus {
              border-bottom: 2px solid $primary-blue;
            }
          }

          button {
            background-color: $primary-orange;
            border-radius: 10px;
            border: 2px solid $primary-orange;

            &:hover {
              background-color: white;
              color: $primary-orange;
            }
          }
        }
      }
    }
  }
}
