@import "./config.scss";

body {
  footer.footer-top-area-7 {
    .site-footer {
      * {
        color: white;
      }
      .upper-footer {
        background-color: $primary-blue;
        // background: linear-gradient(to bottom right, #3c91e6, #1271cf);
        // border-top: 1px solid #ccc;
        padding: 0 0 5px 0;

        .footer-subscribe-1 {
          border: none;
          margin-bottom: 0;

          .container {
            max-width: 1200px;
            width: 90%;

            @media (max-width: 777px) {
              margin: 0 20px;
              text-align: center;
            }
            .row {
              margin: 0 0;
              padding: 10px 0;
              align-items: center;

              h3 {
                font-family: $secondary-font-family;
                font-size: 1.2rem;
                font-weight: 400;
                padding: 0;
                margin: 0;

                @media (max-width: 1070px) {
                  padding: 10px 0;
                }
              }

              &.discover,
              &.newsletter,
              &.branding {
                border-top: 1px solid white;

                img {
                  margin: 0;
                  padding: 10px 0;
                  max-width: 150px;
                  margin-left: -20px;

                  @media (max-width: 1070px) {
                    margin: 0;
                    padding: 20px 0 0 0;
                  }
                }

                span {
                  font-size: 0.9rem;
                  font-family: $secondary-font-family;

                  a {
                    font-family: $secondary-font-family;
                    text-decoration: underline;
                    color: white;

                    &:hover {
                      color: $primary-orange;
                    }
                  }

                  @media (max-width: 1070px) {
                    display: block;
                  }
                }

                h3 {
                  font-family: $secondary-font-family;
                  font-size: 1.2rem;
                  padding: 0;
                  margin: 0;

                  @media (max-width: 1070px) {
                    padding: 20px 0;
                  }
                }
              }

              .text {
                margin: 5px 0;
                text-align: right;
                flex-wrap: wrap;

                a {
                  font-family: $secondary-font-family;
                  border-radius: 0;
                  background-color: transparent;
                  margin: 10px;
                  padding: 0;
                  display: inline-block;

                  i {
                    font-size: 2rem;
                    &:hover {
                      color: $primary-orange;
                    }

                    @media (max-width: 777px) {
                      font-size: 1.7rem;
                    }
                  }

                  span {
                    font-weight: 800;

                    &:hover {
                      color: $primary-orange;
                    }
                  }

                  &:hover {
                    color: $primary-orange;
                  }
                }

                form {
                  display: flex;
                  float: right;

                  input {
                    border: none;
                    outline: none;
                    border-radius: 5px 0 0 5px;
                    color: black;
                    font-family: $secondary-font-family;
                    font-size: 1.1rem;
                    margin: 0;
                    padding: 19px 10px;

                    @media (max-width: 450px) {
                      width: 100%;
                      border-radius: 5px;
                      margin: 10px 0;
                      padding: 20px 15px;
                    }
                  }
                  button {
                    background-color: $primary-orange;
                    font-family: $secondary-font-family;
                    font-size: 0.8rem;
                    font-weight: 600;
                    border: none;
                    outline: none;
                    border-radius: 0 5px 5px 0;
                    margin: 0;
                    padding: 10px;

                    &:hover {
                      background-color: $secondary-orange;
                    }

                    @media (max-width: 450px) {
                      width: 100%;
                      border-radius: 5px;
                      margin: 5px 0;
                      padding: 10px;
                    }
                  }
                  @media (max-width: 1070px) {
                    float: none;
                    justify-content: center;
                  }
                  @media (max-width: 450px) {
                    display: block;
                  }
                }

                .copyright {
                  padding: 15px 0 0 0;
                  font-family: $secondary-font-family;
                  font-size: 0.8rem;
                  text-align: right;

                  a {
                    color: white;
                    text-decoration: underline;
                    margin: 0;
                    padding: 0;

                    &:hover {
                      color: $primary-orange;
                    }
                  }

                  @media (max-width: 1070px) {
                    text-align: center;
                    font-size: 0.7rem;
                  }
                }

                @media (max-width: 1070px) {
                  text-align: center;
                }
              }

              a {
                color: white;
                transition: all 0.1s;
                &:hover {
                  color: #ffa166;
                }
              }

              @media (max-width: 1070px) {
                display: block;
                text-align: center;
                padding-bottom: 20px;

                .col-sm-3,
                .col-sm-4,
                .col-sm-5,
                .col-sm-6,
                .col-sm-7,
                .col-sm-8,
                .col-sm-9 {
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
