$primary-blue: #407ebf;
$secondary-blue: #1f60a5;
$primary-orange: #e27c3d;

body {
  .background-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 300px;
    background-image: url("../img/wave.svg");
    background-color: #00000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    transform: translate(-50px, -40px);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
    z-index: -1;

    @media screen and (max-width: 1050px) {
      transform: translate(-50px, -20px);
    }

    @media screen and (max-width: 1000px) {
      background-image: none;
      background-color: #357ad4bb;
      height: 120px;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
    }
  }
  #header-sticky {
    background-color: #00000000;
    color: #6ea0d6;
    .slicknav_menu .slicknav_nav {
      background-color: $primary-orange;
      opacity: 0.9;
    }
    .logo a img {
      width: 200px;
      margin: 15px auto;
      max-width: 1000px;

      @media screen and (max-width: 1000px) {
        width: 175px;
        margin-top: 25px;
      }
    }
  }

  #home {
    .slider-wrapper-saas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -2;

      .container .row {
        .slider-text-new {
          h1 {
            color: $primary-blue;
            margin-top: 100px;
          }
          p {
            color: $secondary-blue;
            font-weight: 600;
          }
        }

        .hero-img img {
          margin-top: 75px;
          max-width: 1000px;
          width: 100%;
          @media screen and (max-width: 1000px) {
            margin-top: 150px;
            width: 375px;
          }
        }
      }
    }
  }
}
