$primary-blue: #407ebf;
$secondary-blue: #1f60a5;
$header-blue: #357ad4;
$primary-orange: #e27c3d;
$secondary-orange: #e75e08;
$white: #f9f9f9;

* {
  ::selection {
    background-color: rgba(238, 135, 51, 0.7);
  }
}

body {
  background-color: $white;
  a#scrollUp {
    background-color: $primary-blue;
    border-radius: 500px;

    &:hover {
      background-color: $primary-orange;
    }
  }
  // .background-wave {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 1920px;
  //   height: 300px;
  //   background-image: url("../img/wave-header.svg");
  //   background-color: #00000000;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: left top;
  //   transform: translate(-50px, -40px);
  //   filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
  //   z-index: -1;

  //   @media screen and (max-width: 1050px) {
  //     transform: translate(-50px, -20px);
  //   }

  //   @media screen and (max-width: 1000px) {
  //     display: none;
  //   }
  // }

  #header-sticky {
    background-color: $white;
    border-bottom: 2px solid $secondary-orange;

    ul#nav-demo {
      li.scroll-to {
        margin: 10px 0;
      }
    }

    a {
      color: black;
      transition: all 0.1s;
      &:hover {
        color: $secondary-blue;
      }
    }
    &.scroll-header {
      background-color: #357ad4ee;
      border: none;

      a {
        color: white;

        &:hover {
          color: $primary-orange;
        }
      }
    }
    .slicknav_menu {
      a.slicknav_btn {
        background-color: $primary-orange;
        span.slicknav_menutxt {
          text-shadow: none;
        }
      }
      .slicknav_nav {
        background-color: $primary-orange;
        opacity: 0.9;
      }
    }

    .logo a img {
      width: 200px;
      margin: 15px auto;
      max-width: 1000px;

      @media screen and (max-width: 1000px) {
        width: 175px;
        margin-top: 25px;
      }
    }
  }

  #home {
    .slider-wrapper-saas {
      width: 100%;
      height: 120vh;
      background-color: #254292;

      @media screen and (max-width: 1200px) {
        height: 100vh;
      }

      .container {
        margin-top: -45vh;

        @media screen and (max-width: 1200px) {
          margin-top: -30vh;
        }

        .row {
          .slider-text-new {
            h1 {
              color: $white;
              margin-top: 100px;

              span {
                color: $primary-orange;
              }
            }
            p {
              color: $white;
              font-weight: 600;
            }
            .saas-button a {
              color: $primary-orange;
              background-color: $white;
              border: 2px solid $primary-orange;
              font-size: 1.05rem;
              padding: 0.7rem 1.5rem;
              transition: all 0.25s;

              &:hover {
                background-color: $primary-orange;
                color: white;
              }
            }
          }

          .animated.fadeInUp img {
            margin-top: 100px;
            max-width: 1000px;
            width: 100%;
            @media screen and (max-width: 1000px) {
              margin-top: 200px;
              width: 350px;
            }
          }
        }
      }
    }
  }

  .wave {
    position: absolute;
    top: 85vh;
    border-bottom: 100px solid $white;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  #features {
    margin: 10vh 0;
    text-align: center;

    .item {
      margin: 25px 0;
      .bpack-images-one {
        border-radius: 200px;
        overflow: hidden;
        box-shadow: inset 0 0 0 10px $primary-orange;
        border: 3px solid $primary-orange;
        max-width: 250px;

        figcaption {
          padding: 20px;
        }
      }

      h3 {
        margin: 10px 0;
        font-family: nunito, sans-serif;
      }
    }

    // .row {
    //   margin: auto;
    //   justify-content: space-evenly;

    //   .feature {
    //     margin: 20px auto;
    //     img {
    //       max-width: 175px;
    //       margin: 0 0 20px 0;
    //       border-radius: 500px;
    //       transition: all 0.2s;

    //       &:hover {
    //         filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    //         transform: scale(1.02);
    //       }
    //     }
    //     p {
    //       font-family: nunito, sans-serif;
    //       font-weight: 600;
    //     }
    //   }
    // }
  }

  #service {
    .container .row {
      align-items: stretch;

      .rtin-item {
        height: 90%;
      }
    }
  }

  footer.footer-top-area-7 {
    img {
      max-width: 150px;
      margin: 20px;
    }
    .site-footer {
      .upper-footer {
        background-color: $white;
        border-top: 1px solid #ccc;
        padding: 50px;

        a {
          transition: all 0.1s;
          &:hover {
            color: $header-blue;
          }
        }
      }
      .about-widget ul li i {
        background-color: $header-blue;
        border-radius: 3px;
      }
      .newsletter-widget form div button {
        background-color: $header-blue;

        &:hover {
          background-color: $primary-orange;
        }
      }
    }
    .copyright-info-7 p a {
      color: $primary-blue;
      transition: all 0.2s;
      &:hover {
        color: $secondary-orange;
      }
    }
  }
}
